<div class="main">
    <div class="first_container">
        <div class="image_holder">
            <img src="assets/images/polaroid_1.png" alt="nossa foto" class="our_photo">
            <img src="assets/images/wax_seal.png" alt="selo de cera" class="wax_seal">
        </div>
    </div>
    <div class="info">
        <div class="name_holder box_padding_align">
            <img src="assets/images/" alt="Gabe & Giu image" class="noivos">
            <span class="parent_names upper_text">
                fábio, isabel, patricia
                <br>
                & marcel, paul & jessica
                <br>
                e thomas
            </span>
        </div>
        <div class="invites">
            <img src="" alt="bird" class="bird left_bird">
            <div class="invites_text_holder">
                <span class="invites_text upper_text">
                    te convidam
                    <br>
                    para celebrar a sua
                    <br>
                    história de amor
                </span>
            </div>
            <img src="" alt="bird" class="bird right_bird">
        </div>
        <div class="where_at box_padding_align">
            <div class="date_holder">
                <span class="date_text upper_text">
                    20 jun
                </span>
            </div>
            <div class="where_holder">
                <span class="address upper_text">
                    ESTR . SANTA RITA, 261
                    <br>
                    VILA MORAES, MOGI
                    <br>
                    DAS CRUZES, SP
                </span>
                <img src="" alt="casarão la villa" class="casarao_text">
            </div>
            <div class="time_holder">
                <span class="time_text upper_text">
                    16 horas
                </span>
            </div>
        </div>
        <img src="" alt="pattern" class="bottom_pattern">
    </div>
    <app-footer></app-footer>
</div>