<div class="main">
    <app-menu class="menu" [logo_properties]="logo_properties"></app-menu>
    <div class="first_container">
            <img src="assets/images/we_with_seal.png" alt="nossa foto" class="our_photo">
        <div class="image_holder">
            <!-- <img src="assets/images/polaroid_1.png" alt="nossa foto" class="our_photo">
            <img src="assets/images/wax_seal.png" alt="selo de cera" class="wax_seal"> -->
        </div>
    </div>
    <div class="info">
        <div class="name_holder box_padding_align">
            <img src="assets/images/gabe_e_giu_family_invites.png" alt="Gabe & Giu image" class="invites_img full_width_image">
            <!-- <span class="parent_names upper_text">
                fábio, isabel, patricia
                <br>
                & marcel, paul & jessica
                <br>
                e thomas
            </span> -->
        </div>
        <div class="invites">
            <img src="/assets/images/dove.svg" alt="bird" class="bird left_bird">
            <div class="invites_text_holder">
                <span class="invites_text upper_text">
                    te convidam
                    <br>
                    para celebrar a sua
                    <br>
                    história de amor
                </span>
            </div>
            <img src="/assets/images/dove.svg" alt="bird" class="bird right_bird">
        </div>
        <div class="where_at box_padding_align">
            <div class="date_holder">
                <span class="date_text upper_text info_text">
                    20 jun
                </span>
            </div>
            <div class="where_holder">
                <!-- <span class="address upper_text">
                    ESTR . SANTA RITA, 261
                    <br>
                    VILA MORAES, MOGI
                    <br>
                    DAS CRUZES, SP
                </span> -->
                <img src="/assets/images/casarao_address.png" alt="casarão la villa" class="casarao_img full_width_image">
            </div>
            <div class="time_holder">
                <span class="time_text upper_text info_text">
                    16 horas
                </span>
            </div>
        </div>
        <img src="/assets/images/home_pattern.svg" alt="pattern" class="bottom_pattern">
    </div>
    <app-footer></app-footer>
</div>