<h2 mat-dialog-title>Pagamento</h2>
<mat-dialog-content>
    <mat-horizontal-stepper #stepper [(selectedIndex)]="stepIndex">
        <div [formGroup]="paymentElementForm">
            <mat-step label="Primeiro Passo">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-label>nome</mat-label>
                    <input matInput placeholder="nome" formControlName="name" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-label>email</mat-label>
                    <input matInput placeholder="nome@exemplo.com.br" type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-icon matSuffix>map</mat-icon>
                    <mat-label>endereço</mat-label>
                    <input matInput placeholder="rua..." formControlName="address" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-icon matSuffix>map</mat-icon>
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="CEP" formControlName="zipcode" />
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-icon matSuffix>location_city</mat-icon>
                    <mat-label>cidade</mat-label>
                    <input matInput placeholder="cidade" formControlName="city" />
                </mat-form-field>
                <mat-icon mat-button (click)="goNext()">arrow_forward_ios</mat-icon>
            </mat-step>

            <mat-step label="Segundo Passo">
                @if (elementsOptions.clientSecret) {
                <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
                    <ngx-stripe-payment [options]="paymentElementOptions" />
                </ngx-stripe-elements>
                }
                <p class="payment_error_text" *ngIf="payment_error">
                    Erro no processamento:
                    <br>
                    {{payment_error}}
                    <br>
                    tente novamente ou selecione outro cartão
                </p>
                <button (click)="pay()"><mat-icon>payments</mat-icon></button>
            </mat-step>
        </div>
    </mat-horizontal-stepper>




</mat-dialog-content>
<div class="loader_holder" [ngClass]="[!loading ? 'hide' : 'show_loader']">
    <span class="loader"></span>
</div>