.main {
    width: clac(100% - 60px);
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #715f26;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    height: 30px;
    width: auto;
    stroke: #f2dcd6;
}

.spacer {
    flex-grow: 1;
}

.name {
    max-height: 40px;
}

.gabe_e_giu {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.social {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 5px;
}

.instagram_icon {
    filter: invert(1);
}