.full_width_image {
    width: 100%;
    height: auto;
}

.upper_text{
    text-transform: uppercase;
}

.menu {
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #eaa4c1;
    padding-bottom: 40px;
}

.first_container {
    height: 60%;
    background-image: url("/assets/images/star_pattern.svg");
    background-color: #440f21;
    background-size: contain;
    display: flex;
    align-content: center;
    justify-content: center;
}

.title_holder {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    color: #f2dcd6;
    align-items: center;
    justify-content: space-between;
}

.title_text {
    font-family: 'Bigilla', sans-serif;
    font-size: 6.5rem;
}

.title_info_text{
    font-size: 0.8rem;
}

.info_text {
    font-size: 400%;
    color: #440f21;
}

.chegando_no {
    padding: 0;
    margin: 0;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.polaroid_left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.polaroid_left_img {
    margin-top: -20px;
    width: 50%;
    transform: rotate(15deg);
}

.casarao_location {
    
    width: 50%;
    padding-right: 20px;
}

.casarao_location_text {
    color: #f2dcd6;
    font-size: 0.6rem;
    padding-right: 20px;
}

.dress_code_circle_thing {
    border-radius: 50% 50% 0 0;
    /* -moz-border-radius: 200px 200px 10px 10px;
    -webkit-border-radius: 200px 200px 10px 10px; */
    border: none;
    background-color: #da5e27;
    padding-top: 200px;
    width: 100%;
}

.dress_code_holder {
    width: 100%;
    background-color: #da5e27;
    margin: 0;
    padding: 0;
}

.dress_code_text_holder{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dress_code_title{
    font-family: 'Bigilla', sans-serif;
    font-size: 5rem;
}

.dress_code_side_text{
    font-size: 0.6rem;
}

.dress_code_images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
}

.dress_code_image {
    width: 26.67%;
}