<div class="main">
    <app-menu class="menu"></app-menu>
    <div class="first_container">
        <div class="title_holder">
            <p class="title_text upper_text">dicas</p>
            <p class="title_info_text upper_text">
                para que
                <br>
                a nossa
                <br>
                celebração
                <br>
                seja ainda mais
                <br>
                incrível
            </p>
        </div>
    </div>
    <div class="middle">
        <div class="polaroid_left">
            <img src="/assets/images/polaroid_2_1.png" alt="polaroid" class="polaroid_left_img">
        </div>
        <div class="casarao_location">
            <p class="chegando_no">chegando no</p>
            <img src="/assets/images/casarao_esquerda.svg" alt="casarão la villa" class="casarao_img full_width_image">
            <p class="casarao_location_text upper_text">
                localizada em mogi das cruzes, o casarão la villa
                <br>
                é um refúgio que fica
                <br>
                a aproximadamente
                <br>
                1h de são paulo.
            </p>
            <p class="casarao_location_text upper_text">
                Estr. Santa Rita, 261
                <br>
                Vila Moraes, Mogi das Cruzes, são paulo
            </p>
            <p class="casarao_location_text upper_text">
                sugerimos que coloque apenas “casarão la villa” no waze/google maps
                <br>
                para que chegue no endereço correto.
            </p>
        </div>
    </div>
    <img src="/assets/images/casarao_wireframe.svg" alt="" class="casarao_wireframe full_width_image">
</div>