<div class="main">
    <div class="first_container">
        <!-- <img src="assets/images/start_pattern.svg" alt="" class="fisrt_container_pattern"> -->
    </div>
    <div class="middle">
        <div class="polaroid_left">
            <img src="/assets/images/polaroid_2_1.png" alt="polaroid" class="polaroid_left_img">
        </div>
        <div class="casarao_location">
            <p>chegando no</p>
            <img src="/assets/images/casarao.png" alt="casarão la villa" class="casarao_img full_width_image">
            <pre class="casarao_location_text">
                
            </pre>
        </div>
    </div>
    <img src="/assets/images/casarao_wireframe.svg" alt="" class="casarao_wireframe full_width_image">
</div>