@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.cdnfonts.com/css/bigilla');

* {
    font-weight: 100;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.menu_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
}

.main_app {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.menu_holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* .menu_spacer{
    flex-grow: 1;
}

.menu {
    display: inline-block;
    padding-right: 50px;
}

.menu ul li:first-child {
    padding-left: 0;
} */

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00000033;
}

.menu ul a {
    text-decoration: none;
    color: #000000;
}

.active {
    cursor: default;
    color: rgba(20, 20, 20, 0.801);
    background-color: #00000065;
}

.menu_opener {
    order: 2;
    justify-content: center;
}

@media (max-width: 550px) {
    .container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    .menu_holder {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        transform: translateX(100%);
    }

    .menu_spacer {
        width: 50%;
        height: 100%;
    }

    .main_app {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    .menu {
        padding: 0;
        padding-top: 60px;
        width: 50%;
        height: 100%;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        border-radius: 20px 0px 0px 20px;
        -moz-border-radius: 20px 0px 0px 20px;
        -webkit-border-radius: 20px 0px 0px 20px;
        border: 0px solid #000000;
    }

    .cart {
        position: absolute;
        bottom: 50px;
        right: 50px;
        color: #000000;
    }

    .cart_active {
        color: #00000065;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        width: 100%;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
    mix-blend-mode: difference;
}

.change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -6px) rotate(45deg);
}

@keyframes opened_menu {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closed_menu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.open_menu {
    animation: opened_menu 0.5s ease-out forwards;
}

.close_menu {
    animation: closed_menu 0.5s ease-in forwards;
}