@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.cdnfonts.com/css/bigilla');

* {
    font-weight: 100;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.main_app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}