<div class="container" (click)="toggle_menu()" [ngClass]="{ 'change': menu_open }">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<div class="menu_holder" [ngClass]="[menu_open ? 'open_menu' : 'close_menu']">
    <div class="menu_spacer"></div>
    <nav class="menu">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li><a [routerLink]="['/dicas']" routerLinkActive="active">Dicas</a></li>
            <li><a [routerLink]="['/recomendacoes']" routerLinkActive="active">Recomendações</a></li>
            <li><a [routerLink]="['/presentes']" routerLinkActive="active">Presentes</a></li>
        </ul>
    </nav>
    <a [routerLink]="['/cart']" routerLinkActive="active">
        <mat-icon class="cart" fontSet="material-icons-outlined">shopping_cart</mat-icon>
    </a>
</div>
<div class="main_app">
    <router-outlet></router-outlet>
</div>
