<div class="main">
    <app-menu class="menu"></app-menu>
    <div class="items_holder">
        <ng-container *ngIf="cart_items.length > 0">
            <div class="item_row" *ngFor="let item of cart_items">
                <div class="main_item_data">
                    <img [src]="item.photo_path" alt="" class="item_img">
                </div>
                <div class="secondary_item_data">
                    <p class="item_name">{{item.name}}</p>
                    <p class="unit_cost">R$ {{item.price_cents/100}} X <span
                            class="quantity_text">{{item.quantity}}</span>
                    </p>
                    <div class="bottom_details">
                        <p class="total_value">Total: R$ {{item.total_cents/100}}</p>
                        <div class="actions">
                            <mat-icon class="edit mat-icon-small" (click)="edit_item(item)">edit</mat-icon>
                            <mat-icon class="remove mat-icon-small" (click)="remove_item(item)">delete</mat-icon>
                        </div>
                    </div>

                </div>
            </div>
            <div class="cart_overview">
                <p class="cart_total">Total</p>
                <!-- <p class="item_count_text">Items</p>
            <span class="item_count_ammount">{{cart_data.item_count}}</span>
            <p class="total_ammount_text">Valor</p> -->
                <p class="total_ammount_value">R$ {{cart_data.total/100}}</p>
            </div>
            <div class="button-container">
                <button mat-fab color="primary" class="next-button" (click)="payCart()">
                    <mat-icon>shopping_cart_checkout</mat-icon>
                </button>
            </div>
            <!-- <button class="checkout_btn" (click)="payCart()">Checkout <mat-icon>shopping_cart_checkout</mat-icon> </button> -->
        </ng-container>
        <ng-container *ngIf="cart_items.length == 0">
            <img src="/assets/images/empty_cart.webp" alt="" class="empty_cart_img">
        </ng-container>
    </div>
</div>