<div class="main">
    <app-menu class="menu" [logo_properties]="logo_properties"></app-menu>
    <div class="bottom_holder">
        <div class="items_holder">
            <ng-container *ngIf="cart_items.length > 0">
                <div class="item_row" *ngFor="let item of cart_items">
                    <img [src]="item.photo_path" alt="" class="item_img">
                    <div class="secondary_item_data">
                        <p class="item_name">{{item.name}}</p>
                        <p class="unit_cost">{{converter.autoString(item.price_cents/100)}} X <span
                                class="quantity_text">{{item.quantity}}</span>
                        </p>
                        <div class="bottom_details">
                            <p class="total_value">Total: {{converter.autoString(item.total_cents/100)}}</p>
                            <div class="actions">
                                <mat-icon class="edit mat-icon-small action" (click)="edit_item(item)">edit</mat-icon>
                                <mat-icon class="remove mat-icon-small action" (click)="remove_item(item)">delete</mat-icon>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cart_overview">
                    <p class="cart_total">Total</p>
                    <p class="total_ammount_value">{{converter.autoString(cart_data.total/100)}}</p>
                </div>
                <div class="button-container">
                    <button mat-fab color="primary" class="next-button" (click)="payCart()">
                        <mat-icon>shopping_cart_checkout</mat-icon>
                    </button>
                </div>
            </ng-container>
            <div class="empty_cart" *ngIf="cart_items.length == 0">
                <img src="/assets/images/toto_carrinho_vazio.png" alt="" class="empty_cart_img">
                <h2 class="empty_cart_text">Poxa, seu carrinho ainda está vazio</h2>
            </div>
        </div>
    </div>
</div>