<div class="main">
    <div class="quantity" [ngClass]="[selecting_quantity||(editMode && !added_to_cart) ? 'show' : 'hide']">
        <mat-icon class="close" (click)="toggle_quantity_select()" *ngIf="!editMode">close</mat-icon>
        <mat-icon class="decrease" (click)="decrease_quantity()">remove</mat-icon>
        <input type="number" [(ngModel)]="quantity" class="counter">
        <mat-icon class="increase" (click)="increase_quantity()">add</mat-icon>
        <mat-icon class="confirm" (click)="add_to_cart()">check</mat-icon>
    </div>
    <mat-icon [ngClass]="[selecting_quantity||added_to_cart||editMode ? 'hide' : 'show']"
        (click)="toggle_quantity_select()">
        add_shopping_cart
    </mat-icon>
    <mat-icon class="" [ngClass]="[added_to_cart ? 'show' : 'hide']">check_circle</mat-icon>
</div>