<div class="main">
    <div class="quantity" [ngClass]="[selecting_quantity||editMode ? 'show' : 'hide']">
        <span class="material-symbols-outlined" (click)="toggle_quantity_select()" *ngIf="!editMode">close</span>
        <span class="material-symbols-outlined decrease" (click)="decrease_quantity()">remove</span>
        <input type="number" [(ngModel)]="quantity" class="counter">
        <span class="material-symbols-outlined increase" (click)="increase_quantity()">add</span>
        <span class="material-symbols-outlined" (click)="add_to_cart()">check</span>
    </div>
    <span
        class="material-symbols-outlined"
        [ngClass]="[selecting_quantity||added_to_cart||editMode ? 'hide' : 'show']"
        (click)="toggle_quantity_select()"
    >
        add_shopping_cart
    </span>
    <span class="material-symbols-outlined" [ngClass]="[added_to_cart ? 'show' : 'hide']">check_circle</span>
</div>