<div class="menu_wrapper" [style.backgroundColor]="logo_properties.background_color">
    <div class="menu_bar" [style.backgroundColor]="logo_properties.background_color">
        <div class="name_holder"
            *ngIf="logo_properties.color === 'white' && !logo_properties.custom_image">
            <div class="logo_holder" [routerLink]="['/home']">
                <img src="/assets/images/gabe.png" alt="Gabe" class="gabe_name name">
                <img src="/assets/images/e_giu.png" alt="e Giu" class="giu_name name">
            </div>
        </div>
        <div class="name_holder" [routerLink]="['/home']"
            *ngIf="logo_properties.color === 'marsala' && !logo_properties.custom_image">
            <div class="logo_holder">
                <img src="/assets/images/gabe.png" alt="Gabe" class="gabe_name name marsala">
                <img src="/assets/images/e_giu.png" alt="e Giu" class="giu_name name marsala">
            </div>
        </div>
        <div class="name_holder" [routerLink]="['/home']" *ngIf="logo_properties.custom_image">
            <div class="logo_holder">
                <img [src]="logo_properties.custom_image" alt="flores" class="name">
            </div>
        </div>
        <div class="container_holder">
            <div class="container" (click)="toggle_menu()" [ngClass]="{ 'change': menu_open }">
                <div class="bar1" [style.backgroundColor]="logo_properties.hamburger_color"></div>
                <div class="bar2" [style.backgroundColor]="logo_properties.hamburger_color"></div>
                <div class="bar3" [style.backgroundColor]="logo_properties.hamburger_color"></div>
            </div>
        </div>
    </div>
    <div class="menu_holder" [ngClass]="[menu_open ? 'open_menu' : 'close_menu']">
        <div class="menu_spacer" (click)="toggle_menu()"></div>
        <nav class="menu">
            <ul>
                <li class="uppercase">
                    <a [routerLink]="['/home']" routerLinkActive="active" (click)="toggle_menu()">
                        Home
                    </a>
                </li>
                <li class="uppercase">
                    <a [routerLink]="['/dicas']" routerLinkActive="active" (click)="toggle_menu()">
                        Dicas
                    </a>
                </li>
                <!-- <li class="uppercase">
                <a [routerLink]="['/recomendacoes']" routerLinkActive="active" (click)="toggle_menu()">
                    Recomendações
                </a>
            </li> -->
                <li class="uppercase">
                    <a [routerLink]="['/presentes']" routerLinkActive="active" (click)="toggle_menu()">
                        Presentes
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/cart']" routerLinkActive="cart_active">
                        <mat-icon class="cart" (click)="toggle_menu()">shopping_cart</mat-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>