* {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.marsala {
    filter: brightness(0) saturate(100%) invert(14%) sepia(75%) saturate(500%) hue-rotate(-10deg);
}

.uppercase {
    text-transform: uppercase;
}

.name {
    max-height: 30;
    height: 30px;
}

.name_holder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.logo_holder {
    display: flex;
    flex-direction: row;
    align-self: self-start;
    padding-left: 20px;
    cursor: pointer;
}

.menu_bar {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.menu_holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    text-align: center;
    list-style: none;
    margin-top: 45px;
    font-kerning: 100;
}

.menu ul li a {
    text-decoration: none;
    color: #440f21;
}

.active {
    cursor: default;
    font-weight: bold;
}

.menu_opener {
    order: 2;
    justify-content: center;
}

@media (max-width: 550px) {
    .menu_bar {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .container_holder {
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    .menu_holder {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        transform: translateX(100%);
    }

    .menu_spacer {
        width: 50%;
        height: 100%;
    }

    .menu {
        padding: 0;
        width: 50%;
        height: 100%;
        background-color: #f2dcd6;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        box-shadow: -7px 3px 88px -26px rgba(0, 0, 0, 0.75);
        border-radius: 20px 0px 0px 20px;
        -moz-border-radius: 20px 0px 0px 20px;
        -webkit-border-radius: 20px 0px 0px 20px;
        border: 0px solid #000000;
    }

    .cart {
        font-weight: normal;
        color: #000000;
    }

    .cart_active {
        color: #00000065;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        width: 100%;
    }

    .menu_bar_names {
        flex-grow: 1;
    }


    .open_menu {
        animation: opened_menu 0.5s ease-out forwards;
    }

    .close_menu {
        animation: closed_menu 0.5s ease-in forwards;
    }
}

@media (min-width: 551px) {
    .menu_wrapper {
        display: flex;
        flex-direction: row;
    }

    .menu_holder{
        flex-grow: 1;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: end;
        padding-right: 30px;

    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: end;
        align-self: flex-end;
        width: 100%;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0;
        margin: 0;
        justify-content: end;
        align-items: end;
        align-self: flex-end;
    }

    .menu ul li {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .open_menu,
    .close_menu {
        
    }

    .container_holder,
    .menu_spacer {
        display: none;
    }
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    margin: 5px 0;
    transition: 0.4s;
    mix-blend-mode: difference;
}

.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

@keyframes opened_menu {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closed_menu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}