<div class="main">
    <div class="menu_holder"><app-menu class="menu"></app-menu></div>
    <div class="first_container">
        <div class="title_holder">
            <p class="title_text upper_text">LISTA de PRESENTES
            </p>
        </div>
    </div>
    <div class="filter_search_holder">
        <app-filter-search class="filter_search" (searchTerm)="searchUpdated($event)"></app-filter-search>
    </div>
    <div class="presentes">
        <ng-container *ngIf="!has_items">
            <div class="no_items">
                no items in here
            </div>
        </ng-container>
        <app-card-presente *ngFor="let product of products" [product]="product"
            class="product_card"></app-card-presente>
    </div>
</div>
<a [routerLink]="['/cart']">
    <mat-icon class="material-icons-outlined fab">shopping_cart</mat-icon>
</a>